<h1 id="testcomponent">1111</h1>

<!-- ui.button -->
<button>test</button>

<!-- ui.checkboxradio -->

<label for="checkbox"></label><input id="checkbox" type="checkbox">

<!-- ui.fieldset -->

<fieldset data-role=controlgroup><legend>test</legend></fieldset>

<!-- ui.footer -->
<footer data-role=footer><button>test</button></footer>

<!-- ui.header -->
<div data-role=header><h1>header</h1></div>

<!-- ui.list -->

 <ul data-role="listview" class="sec-agenda">
    <li>1</li>
    <li>2</li>
</ul>

<!-- ui.tabs -->
<div data-role="tabs" data-id="firstTabs" data-tabsperrow="4">
    <button data-params="db" data-active="true">1</button>
    <button data-params="mobile">2</button>
    <button data-params="desktop">3</button>
    <button data-params="ios">4</button>
</div>

<!-- ui.textinput -->

<input type="text">