node_modules
.idea/.name

.idea/codeStyleSettings.xml

*.xml

*.iml

data.json

docs.js

index.html

js/app.js

js/appx.js

js/collections/customCollection.js

js/components/component1.js

js/components/root.js

js/index.js

js/models/customModel.js

styles/sec.css

tmpl/desktop/comments.tmpl

tmpl/desktop/favourites.tmpl

tmpl/desktop/feedback.tmpl

tmpl/desktop/home.tmpl

tmpl/desktop/root.tmpl

tmpl/desktop/presentation.tmpl

tmpl/desktop/speaker.tmpl

tmpl/desktop/speakers.tmpl

tmpl/mobile/comments.tmpl

tmpl/mobile/favourites.tmpl

tmpl/mobile/feedback.tmpl

tmpl/mobile/presentation.tmpl

tmpl/mobile/home.tmpl

tmpl/mobile/speaker.tmpl

tmpl/mobile/speakers.tmpl

tmpl/phone/root.tmpl

tmpl/tablet/root.tmpl
.DS_Store