
*.sublime-project

*.sublime-workspace

/.idea
node_modules
.bowerrc

bower.json

phantomjs

docs/

docs.js

js/xf*.js

js/lib/underscore.js

js/lib/backbone.js

js/lib/jquery.js

index.html

js/app.js

package.json

js/components/cmp.js

tmpl/phone/cmp.tmpl

data.json

js/collections/customCollection.js

js/models/customModel.js
