<div>
    <form method="post" action="" class="comments-form" onsubmit="return XF.api.sendComment();">
        <h2>Post comment</h2>
        <textarea id="comment-text" required="required"></textarea>
        <button>Send</button>
    </form>
    <h2>Comments</h2>
    <ul data-role="listview">
        <% if (!_.isEmpty(data)) { %>
            <% _.each(data, function (comment, key) { %>
                <li>
                    <h2 class="xf-li-header"><%= comment.userId %> <small><%= comment.date %></small></h2>
                    <p class="xf-li-desc"><%= comment.text %></p>
                </li>
            <% }); %>
        <% } %>
    </ul>
</div>