<div>
    <div class="clearfix">
        <div class="sec-presenation-author-info">
            <h1>Iozgka Bagevitch</h1>
            <img src="/images/sec.jpg" class="sec-presentation-author-image" />
            <div class="sec-presenation-author-descr">
                <h4>Author description</h4>
                <h4>MCC EPAM Inc.</h4>
                <h4><ins>UX</ins> &nbsp; <ins>DEV</ins></h4>
                <h4>Twitter</h4>
                <h4>Facebook</h4>
            </div>
        </div>
        <button data-small="true" data-icon="thumbs-up">32</button>

        <div class="sec-presenation-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

    <ul data-role="listview" class="sec-agenda">
        <li><a href="#presentation/1"><ins>10.30</ins> Some text <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></a></li>
        <li><a href="#presentation/1"><ins>10.30</ins> Some text <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></a></li>
        <li><a href="#presentation/1"><ins>10.30</ins> Some text <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></a></li>
        <li><a href="#presentation/1"><ins>10.30</ins> Some text <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></a></li>
    </ul>
</div>