<div>
    <form method="post" action="">
        <h2>Your feedback</h2>
        <textarea id="comment-text"></textarea>
        <label for="like">Like?</label>
        <input type="checkbox" data-role="switch" id="like">
        <button>Send</button>
    </form>
</div>