<div class="xf-page-content xf-indented">
    <% if (!_.isEmpty(data)) { %>
        <div data-role="tabs" data-id="firstTabs" data-tabsperrow="<%= data.length %>">
            <% _.each(data, function (track, key) { %>
                <button data-params="<%= track.id %>" <% if (key ===0) { %>data-active="true" <% } %>><%= track.name %></button>
            <% }); %>

        </div>
    <% } %>
    <ul class="tabs-list">
        <% _.each(data, function (track, key) { %>
            <li id="tab_<%= track.id %>">
                <ul data-role="listview" class="sec-agenda">
                <% _.each(track.events, function (event, key_) { %>
                    <li><a href="#pr/<%= event.id %>"><ins><% var date = new Date(event.startDateTime); var time = ("0" + (date.getDate()+1)).slice(-2) + '.' + ("0" + (date.getMonth()+1)).slice(-2) %><%= time %></ins> <%= event.title %> <p><%= event.description %></p></a></li>
                <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
</div>