<div class="sec-search-speakers">
    <button id="search-button" data-small="true" data-icon="search" data-position="right"></button>
    <span class="sec-search-text-wrapper"><input type="search" id="search-text" size="10" /></span>
</div>
<ul data-role="listview">

    <li data-role="divider">A</li>

    <li>
        <a href="#speaker/1">
            <img src="/images/sec.jpg" class="sec-speakers-list-image" alt="">
            Arvidas Sabonis
            <p>Software Developer</p>
            <p><ins>UX</ins> &nbsp; <ins>DEV</ins></p>
        </a>
    </li>

    <li>
        <a href="#speaker/1">
            <img src="/images/sec.jpg" class="sec-speakers-list-image" alt="">
            Arvidas Sabonis
            <p>Software Developer</p>
            <p><ins>UX</ins> &nbsp; <ins>DEV</ins></p>
        </a>
    </li>


    <li>
        <a href="#speaker/1">
            <img src="/images/sec.jpg" class="sec-speakers-list-image" alt="">
            Arvidas Sabonis
            <p>Software Developer</p>
            <p><ins>UX</ins> &nbsp; <ins>DEV</ins></p>
        </a>
    </li>

    <li data-role="divider">B</li>

    <li>
        <a href="#speaker/1">
            <img src="/images/sec.jpg" class="sec-speakers-list-image" alt="">
            Ben Foster
            <p>Software Developer</p>
            <p><ins>DATA</ins> &nbsp; </p>
        </a>
    </li>

    <li>
        <a href="#speaker/1">
            <img src="/images/sec.jpg" class="sec-speakers-list-image" alt="">
            Ben Foster
            <p>Software Developer</p>
            <p><ins>UX</ins> &nbsp; <ins>DEV</ins></p>
        </a>
    </li>


    <li>
        <a href="#speaker/1">
            <img src="/images/sec.jpg" class="sec-speakers-list-image" alt="">
            Ben Foster
            <p>Software Developer</p>
            <p><ins>UX</ins> &nbsp; <ins>DEV</ins></p>
        </a>
    </li>
</ul>