<div data-role="header">
	<button class="hidden" data-href="/" data-small="true" data-position="left" data-icon="chevron-thin-left" data-animation="slideright"></button>
	<h1>XFramework Docs</h1>
</div>

<div id="home" class="xf-page">
	<div class="xf-page-content">

		<div class="xf-indented">
			<div data-component="menu" data-id="menu">
				<script type="text/javascript">

					XF.setOptionsByID(
						'menu',
						{
							showFirstItem: false,
							contentSelector: '#app-root',
							defaultItem: 'what_is_xframework_'
						}
					);
				</script>
			</div>
	    </div>

	</div>
</div> <!--/.xf-page -->

