<div class="xf-footer <%= get('isFixed') ? 'xf-footer-fixed' : '' %>">
	<ul class="xf-nav">
		<% _.each(get('buttons'), function(button) { %>
		<li class="xf-grid-unit <%= button.buttonClass %>">
			<a <%= button.dataHrefString %> class="xf-nav-item xf-iconpos-top" id="<%= button.id %>">
				<div class="xf-icon xf-icon-big <%= button.iconClass %>"></div>
				<div class="xf-nav-item-text <%= button.textClass %>"><%= button.text %></div>
			</a>
		</li>
		<% }); %>
	</ul>
</div>