<div data-id="app-header-component" data-component="header">
	<script type="text/javascript">

		XF.setOptionsByID(
			'app-header-component',
			{
				title: 'XF Documentation',
				buttons: [
					{
						align: 'left',
						icon: 'left',
						tooltip: 'back',
						href: '/'
					}
				]
			}
		);
	</script>
</div>
<div class="xf-grid-unit xf-grid-unit-1of3 xf-page-content xf-indented" style="position: relative;">
	<div data-component="menu" data-id="menu">
				<div class="xf-dialog  xf-dialog-notification"><div class="xf-dialog-content"><div class="xf-notification"><div class="xf-notification-wrap"><div class="xf-notification-text">Loading...</div></div></div></div></div>
			</div>
</div>
<div id="content" class="xf-grid-unit xf-grid-unit-2of3" style="position: relative;">
	
</div>

