.xf-page.padded {
    margin: 0;
    padding: 64px 20px 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.xf-page p {
    margin: 10px 0;
    line-height: 1.5em;
}

.xf-input-text, .example-checkbox {
    margin-bottom: 10px;
}