
.xf-viewport-transitioning,
.xf-viewport-transitioning .xf-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/**
  Applied when page switching occurs
*/
.xf-page-transitioning {

}

/**
  When switching pages, the class is added to the page that is to be shown
*/
.xf-page-transitioning-in {

}


/**
  When switching pages, the class is added to the page that is to be hidden
*/
.xf-page-transitioning-out {

}
